@import-normalize;

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 14px;
  line-height: 1.5;
  scroll-behavior: smooth;

  background-image:
      linear-gradient(to right,
        rgba(206, 216, 216, 0.7),
        rgba(206, 216, 216, 0.7)),
      url("https://pixabay.com/get/g18c46901df0a621a34a235c8552863d8773881663b1571d66ac295c3ad48cae427d59e2e8e80d5f13755a1a652fb18c8b3a3668f8065289abe57474707990392_1280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  
    background-color: rgb(206, 216, 216);
}

/* // reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* // responsive images */
img {
  display: block;
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

svg {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.none {
  display: none;
  
}

